.headerContainer {
  color: white;
  transition: all 0.3s ease;

  &.menuOpened {
    background-color: rgba(44, 62, 80, 0.9);
    z-index: 999999;
    transition: all 0.3s ease;
    padding: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    backdrop-filter: blur(2px);

    .menu-icon svg {
      transform: rotate(90deg);
    }
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  position: relative;
  z-index: 1;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
}

.menu-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0;
    transition: color 0.2s ease;

    &:hover {
      color: var(--main-board-color);
    }
  }
}

.menu-contentDesktop {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0;
    transition: color 0.2s ease;

    &:hover {
      color: var(--main-board-color);
    }
  }
}

.gtaImage {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

@media screen and (max-width: 1024PX) {
  .menu-contentDesktop {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header-content {
    display: none;
  }

  .menu-icon {
    display: none;
  }  
}