<div class="headerContainer" [class.menuOpened]="isMenuOpened()">
  <div class="header-content">

    <!-- Logotype -->
    <img style="width: 24px; height: 36px" src="/assets/images/logo.png" />

    <div class="menu-icon" (click)="openMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"
        />
      </svg>
    </div>
  </div>

  <!-- Additional content to be displayed when the menu is open -->
  @if (isMenuOpened()) {
  <div class="menu-content">

    @for (option of menuOptions; track option.id) {
      <a href="/home" class="flexRow">
        <img style="width: 24px; height: 24px;" [src]="option.image" />
        <div class="align-center">
          <span>{{ option.name }}</span>
        </div>
      </a>
    }

    <app-sign-in-buttons />
  </div>
  }
</div>
