<div style="display: flex; gap: 10px">
  <hr
    style="
      border: 0px;
      color: var(--light-tertiray-color);
      width: 100%;
      height: 1px;
      background: var(--light-tertiray-color);
    "
  />
  <span
    class="font-size-sm"
    style="color: var(--light-tertiray-color); width: 400px; text-align: center"
    >Or continue with</span
  >
  <hr
    style="
      border: 0px;
      color: var(--light-tertiray-color);
      width: 100%;
      height: 1px;
      background: var(--light-tertiray-color);
    "
  />
</div>
