<!-- Home Component -->
<div>
  <app-header />

  <!-- Container -->
  <div class="mainContainer">
    <div class="secondContainer">
      <app-left-card class="container" />
  
      <app-center-card class="container" />
  
      <app-right-card class="container" />
    </div>
  </div>

  <!-- Trending Categories -->
  <div class="mainContainer">
    <div class="secondContainer" style="justify-content: start !important;">
      <app-trending-categories class="trending" />
    </div>
  </div>
</div>
