/** Forgot Password Style */
.rememberMe {
  display: flex;
  gap: 8px;
}

.forgotLine:hover {
  color: gray !important;
  transition: all ease 0.1s;
}

input[type='checkbox'] {
  width: 14px;
  height: 14px;
}