<div
  style="max-width: 440px; width: 100%; margin: auto"
  class="not-found-container flex align-items-center justify-content-center p-1"
>
  <div class="grid justify-content-center">
    <div
      class="displayContainer"
      style="gap: 150px"
    >
      <div class="flex justify-content-center">
        <img
          src="/assets/images/404.png"
          alt="Página no encontrada"
          class="w-full max-w-25rem image_container"
        />
      </div>
      <div class="mt-5 flex flex-column md:flex-row gap-3">
        <button
          style="max-width: 250px; display: flex; justify-content: center; margin: auto;"
          class="w-full flex justify-content-center text-white back_button"
          (click)="redirectToHome()"
        >
          Back to Home
        </button>
      </div>
    </div>
  </div>
</div>
