.hourButton {
  background: white !important;
  width: 140px !important;
  top: 980px !important;
  left: 120px !important;
  border-radius: 50px !important;
}

.forniteStyle {
  color: white !important;
}

button {
  font-size: 16px !important;
}