<div
  class="py px streaming-card text-center"
  style="
    background: var(--main-board-color);
    border-radius: 0px;
  "
>
  <div class="displayContainer" style="gap: 0px">
    <label class="text-white font-size-xxl" style="line-height: 1.5"> Fornite New Season </label>
    <label class="text-white font-size-lg" style="line-height: 1.5; color: #e8732e !important">
      Join Live Stream
    </label>
  </div>

  <img
    class="w-full"
    src="/assets/images/fornite.png"
    style="max-height: 450px; max-width: 300px"
  />

  <button class="hourButton">11 : 45</button>
</div>
