@media screen and (max-width: 768px) {
  .hourButton {
    background: white !important;
    color: #e8732e !important;
    width: 140px !important;
    top: 980px !important;
    left: 120px !important;
    position: absolute !important;
    border-radius: 50px !important;
  }
}
