<div class="py px streaming-card text-center" style="border-radius: 0px; border-top-left-radius: 16px; border-bottom-left-radius: 16px; background: var(--secondary-color);">
  <div class="curved-text-container">
    <div class="curved-background">
      <div class="curve curve-1" style="--rotation: -5deg;"></div>
      <div class="curve curve-2" style="--rotation: 2deg;"></div>
      <div class="curve curve-3" style="--rotation: -3deg;"></div>
    </div>
    
    <label class="text-white font-size-xxl" style="line-height: 1.5;">
      start <span style="color: var(--letter-color) !important">streaming</span> games differently
    </label>
  </div>

  <div style="margin-top: 20px; margin-bottom: 20px;">
    <label style="color: var(--light-tertiray-color)">gamor now has <span class="text-white animated-underline">stream party</span> platform</label>
  </div>

  <!-- Sign In / Sign Up Buttons -->
  <app-sign-in-buttons />
</div>