/** Email && Password Styles */
.alternativeContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  width: 100%;
  text-indent: 40px;
  padding: 0.75rem 0px 0.75rem 0px;
  background-color: var(--secondary-color);
  border: 1px solid #4b5563;
  border-radius: 0.5rem;
  color: white;

  &::placeholder {
    color: #9ca3af;
  }

  &:focus {
    border-color: var(--letter-color);
    outline: none;
    transition: all 0.2s ease-in-out;
  }
}

.input-with-icon {
  position: relative;

  .input-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    z-index: 10;
  }
}